body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    border-top: 0 solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
}

.navbar-inverse {
    background-color: #293f63 !important;
    border-color: #293f63 !important;
}

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #293f63 !important;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #293f63 !important;
    }

    .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
        color: #bab4b4 !important;
    }

        .navbar-inverse .navbar-nav > li > a:hover {
            color: #ffffff !important;
        }

a {
    color:#293f63 !important;
}

.btn-primary {
    background-color: #4d648a !important;
    border-color: #4d648a !important;
}

.btn-primary:hover {
    background-color: #293f63 !important;
    border-color: #293f63 !important;
    color: #bab4b4 !important;
}
.validation-error {
    padding-top: 2px;
    padding-left: 2px;
}

#alertBox {
    margin-top: 30px;
}